/* carouselComponent.css */

.carousel-container {
  width: 100%; /* Adjust the width of the carousel container */
  height: 80%; /* Adjust the height of the carousel container */
  display: flex;
  align-items: center;
  justify-content: center;
}





.carousel-item img {
  width: 100%; /* Ensure the image takes up the full width */
  height: 100%; /* Ensure the image takes up the full height */
  object-fit: cover; /* Maintain aspect ratio and cover entire space */
}

@media (min-width: 768px) {
  .carousel-container {
    width: 80%;
    margin: 0 auto; 
  }
}


